---
import PagesLayout from "@/layouts/PagesLayout.astro";
---

<PagesLayout title="404 | Moustapha Isaac Diaby">
    <section class="grid place-items-center h-screen">
        <h1 class="scroll-m-20 text-5xl text-center font-extrabold tracking-tight lg:text-6xl">Well this doesn't look right</h1>
        <p class="text-2xl mt-6">Try looking somewhere else 😂</p>
    </section>
    </PagesLayout>